* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -- BODY --*/

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: #E9E8E3;
}

/* -- HEADER -- */

header{
    width: 100%;
    height: 70px;
    background: #017382;
    position: fixed;
    top: 0;
    display:flex;
    align-items: center;
    box-shadow: 0px 5px 15px #000000;
    box-sizing: border-box;
}

header > .titulo {
    width: 70%;
    margin: auto;
}

header > .titulo > a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
}

/* -- BANNER -- */

.banner {
    width: 100%;
    height: 550px;
    background: url(../img/fondos/fondo_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 70px 0px 0px 0px;
    box-shadow: 0px 3px 10px #000000;
}
.banner > h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Roboto';
    padding: 30px 100px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    float: right;
    margin-top: 350px;
}

/* -- CONTENIDO -- */

.todo {
    width: 70%;
    max-width: 1100px;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* -- SECCIONES -- */ 

/* -- SECCION 1 Y 2 -- */

.seccion_1, .seccion_2 {
    background: #ffffff;
    padding: 20px;
    transition: .5s;
}

.secciones:hover{
    box-shadow: 0px 3px 12px #474747;
}

.secciones > .sub_1 {
    text-align: center;
    margin-bottom: 20px;
    color: #017382;
}

.secciones > .sub_2 {
    border-top: 3px solid #017382;
}
.seccion_1 > .sub_2 > p {
    text-align: justify;
}
.dosSecciones {
    width: 70%;
    height: 100%;
    margin: 15px 0;
}

.dosSecciones > .seccion_1 {
    margin-bottom: 20px;
}

.dosSecciones > .seccion_1 > .sub_2 {
    padding: 30px;
}

.dosSecciones > .seccion_2 > .sub_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dosSecciones > .seccion_2 > .sub_2 > .materias {
    width: 40%;
    height: 100%;
    margin: 40px 0;
    box-sizing: border-box;
}

.materias > .img_mat {
    width: 100%;
}

.materias > .img_mat > img {
    width: 100%;
}

.materias > .datos_mat {
    margin: 10px 0;
}
.materias > .datos_mat {
    padding: 10px;
    color: #017382;
}
.materias > .datos_mat > .dato_1 {
    font-weight: 600;
    font-size: 18px;
}
.materias > .datos_mat > .dato_2 {
    font-size: 14px;
    margin-bottom: 10px;
}
.materias > .btn_mat {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.materias > .btn_mat > a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: #017382;
    font-size: 18px;
    border: 2px solid #017382;
    transition: .5s;
}
.materias > .btn_mat > a:hover{
    color: #ffffff;
    background: #017382;
}

/* -- SECCION 3 -- */

.seccion_3 {
    width: 25%;
    height: 100%;
    margin: 15px 0;
    background: #ffffff;
    transition: .5s;
}
.seccion_3 > .sub_1 {
    margin: 20px;
}

.seccion_3 > .sub_2 {
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccion_3 > .sub_2 > .integrantes {
    margin: 15px auto;
    width: 95%;
}
.seccion_3 > .sub_2 > .integrantes:hover > .img_int > img {
    border: 5px solid #017382;
}
.seccion_3 > .sub_2 > .integrantes > .img_int {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}
.seccion_3 > .sub_2 > .integrantes > .img_int > img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: .5s;
}
.seccion_3 > .sub_2 > .integrantes > .info_int {
    border: 2px solid #017382;
    height: 35px;
    margin-top: 10px;
    overflow: hidden;
    transition: .5s;
}
.seccion_3 > .sub_2 > .integrantes > .info_int > p {
    display:block;
    width: 100%;
    padding: 5px;
    color: #017382;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}
.seccion_3 > .sub_2 > .integrantes > .info_int > .sub_info_int > p > span {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 600;
}
.seccion_3 > .sub_2 > .integrantes > .info_int > .sub_info_int > p {
    font-size: 13px;
    padding-top: 3px;
}
.seccion_3 > .sub_2 > .integrantes:hover > .info_int > p {
    display: none;
}
.seccion_3 > .sub_2 > .integrantes:hover > .info_int {
    height: 280px;
    color: #ffffff;
    background: #017382;
}

.seccion_3 > .sub_2 > .integrantes > .info_int > .sub_info_int {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
    transition: .5s;
}
.seccion_3 > .sub_2 > .integrantes > .info_int > .sub_info_int > p {
    color:#ffffff;
}

/* -- FOOTER -- */ 

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background: #017382;
}


/* -- RESPONSIVE -- */

@media screen and (max-width: 1000px){

    .todo {
        width: 80%;
    }

    .banner > h2 {
        font-size: 40px;
        margin-top: 350px;
        padding: 15px 50px;
    }
    .dosSecciones, .seccion_3 {
        width: 100%;
    }

    .seccion_3 > .sub_2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .seccion_3 > .sub_2 > .integrantes {
        width: 45%;
    }
    .seccion_3 > .sub_2 > .integrantes > .info_int:hover{
        height: 200px;
    }

    
}

@media screen and (max-width: 750px){
    .todo {
        width: 90%;
    }

    .dosSecciones > .seccion_2 > .sub_2 > .materias {
        width: 45%;
    }
    .seccion_3 > .sub_2 > .integrantes > .info_int:hover{
        height: 220px;
    }
}

@media screen and (max-width: 600px){

    .banner {
        height: 300px;
    }
    .banner > h2 {
        font-size: 30px;
        display: block;
        width: 100%;
        padding: 15px;
        text-align: center;
        margin-top: 120px;
    }
    .todo {
        margin: 50px auto;
    }
    .dosSecciones > .seccion_2 > .sub_2 {
        flex-direction: column;
    }
    .dosSecciones > .seccion_2 > .sub_2 > .materias {
        width: 70%;
        margin: 40px auto;
    }
    .seccion_3 > .sub_2 > .integrantes > .info_int:hover{
        height: 230px;
    }
}
@media screen and (max-width: 600px){

    .dosSecciones > .seccion_2 > .sub_2 > .materias {
        width: 90%;
    }
    .seccion_3 > .sub_2 {
        flex-direction: column;
    }
    .seccion_3 > .sub_2 > .integrantes {
        width: 90%;
    }
    .seccion_3 > .sub_2 > .integrantes > .info_int:hover{
        height: 170px;
    }

}